# Project output
output/
main.pdf
cover_back.pdf
cover_spine.pdf
cover_spine_east.pdf
cover_front.pdf
cover.pdf

# Emacs temp files
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
.projectile
TAGS

# Vim temp files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*~
tags

# LaTeX temp files
*.aux
*.log
*.toc
*.lof
*.fls
*.fdb_latexmk
auto/

# General macOS
.DS_Store
.AppleDouble
.LSOverride

# Other
.sass-cache/
